body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f6f6f6;
  }
  
  #container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  header {
    background-color: #4a90e2;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  h1 {
    font-weight: 700;
    font-size: 32px;
    margin: 0;
  }
  
  #messages {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .message {
    background-color: #f6f6f6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .message:last-child {
    margin-bottom: 0;
  }
  
  #input {
    display: flex;
    align-items: center;
  }
  
  #message-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #f6f6f6;
    margin-right: 10px;
    font-size: 16px;
    color: #333;
  }
  
  #send-button {
    width: 80px;
    padding: 10px;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
  }
  
  #send-button:hover {
    background-color: #0077c0;
  }
  